include LICENSE
include README.md
include pyproject.toml

recursive-include pyprimal *.py
include pyprimal/VERSION
recursive-include pyprimal/lib *.dylib *.so *.dll

recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.py

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.o
global-exclude *.a
global-exclude .DS_Store
global-exclude *.egg-info
